.grid-header {
  display: flex;
  justify-content: space-between;
}

.section-wrapper {
  padding: 2em;
}

.section-type {
  color: var(--white-color);
}

.songs-tab {
  color: var(--white-color);
}

.carousel-wrapper {
  padding-top: 2em;
}
